<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New posts</title>

  </head>


<div class="container">
  <header><img  style="width:100px;height:100px;" src="https://cdn4.iconfinder.com/data/icons/spring-color-2/64/bee-honey-hive-insect-bumblebee-512.png" ></header>
  <div class="col-md-8 col-md-offset-2">
    <br>
    <div class="content">
    
        <h1>New Posts</h1>
        <br>
        <form action='/posts' method="post">
            Content:
            <textarea type="text" name="content"></textarea><br>
            Create Your Post:

            <input type="submit" name="submit" id="submit" >
            <input type="hidden" name="user_id" value=<%=@user.id%>>

        </form>
        <br>

        <p> Click here go back to your <a href="/posts"> News Feed</a></p>

    </div>

  </div>
</div>