<div class="container">
  <header><img  style="width:250px;height:250px;" src="https://cdn4.iconfinder.com/data/icons/spring-color-2/64/bee-honey-hive-insect-bumblebee-512.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Hive </h2>
    <br>
    <div class="content">
      <p>Welcome to the Hive! As scoial media site that keeps you so connected that you'll have friends telling you to "Mind your own beeswax"</p>
      <br>
      <p> To get started, Please <a href="/signup">Sign Up </a> or <a href="/login">Log In</a></p>
    </div>



  </div>
</div>
