<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login</title>

  </head>


<div class="container">
  <header><img  style="width:100px;height:100px;" src="https://cdn4.iconfinder.com/data/icons/spring-color-2/64/bee-honey-hive-insect-bumblebee-512.png" ></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Login</h2>
    <br>
    <div class="content">
   
    <form action="/logout" method="post">
       <p>Are you sure you want to Logout?</p>
    <input id ="Submit" type="submit" value="submit">
    </form>


    </div>



  </div>
</div