<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Signup</title>

  </head>


<div class="container">
  <header><a href="/"><img  style="width:100px;height:100px;" src="https://cdn4.iconfinder.com/data/icons/spring-color-2/64/bee-honey-hive-insect-bumblebee-512.png" ></a></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Hive, Please Sign up </h2>
    <br>
    <% if flash.has?(:message) %>
    <h3 style= "color:red;"><%= flash[:message] %></h3>
    <% end %> 
    <div class="content">
          <form action='/signup' method="post">
    
              <label for='username'> Username:</label>
              <input id="username" type="text" name="username">
              <br>
              <br>
              <label for='email'> Email:</label>
              <input id="email" type="text" name="email">
              <br>
              <br>
              <label for='password'> Password:</label>
              <input id="password" type="password" name="password">
              <br>
              <br>
              <input id ="Submit" type="submit" value="Sign Up">
        </form>
    </div>

  </div>
</div>